body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    padding: auto;
}

div.recipe {
    text-align: center;
    font-size: 22px;
    margin: 1.5%;
    list-style-position: inside;
}

/* Headings
*/

h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    font-weight: 800;
}

h2 {
    font-size: 30px;
    font-weight: 700;
}

h3 {
    font-size: 26px;
    font-weight: 500;
}

/*Images
*/

#homeimage {
    height: 550px;
    width: 1150px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#topimage {
    height: 300px;
    width: 600px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.honeyimages {
    height: 250px;
    width: 500px;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* Button and Link styles
*/

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:active {
    color: purple;
    text-decoration: none;
}

div.button {
    text-align: center;
    padding: 2%;
}

button {
    font-size: 24px;
    font-weight: bold;
}

#salmontacos {
    background-color: bisque;
}

#bluecookies {
    background: blue;
}

#honeyglazed {
    background-color: orange;
}

#home {
    text-align: center;
    text-decoration: underline;
    font-size: 218x;
}